.sec-1 {
  margin-top: 150px;
}
.sec {
  width: 100vw;
  overflow: hidden;
  padding: 1rem;
}
.col-md-4 {
  width: 100%;
}
@media screen and (min-width: 567px) {
  .form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .form input {
    width: 18vw;
  }
}
